Source: walinuxagent
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Ben Howard <ben.howard@ubuntu.com>
XSBC-Original-Maintainer: Microsoft Corporation <walinuxagent@microsoft.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               dh-systemd,
               openssl,
               python,
               python3,
               python3-nose,
               python3-setuptools,
Standards-Version: 3.9.6
Homepage: https://github.com/Azure/WALinuxAgent

Package: walinuxagent
Architecture: all
Depends: openssl,
         openssh-server,
         passwd,
         util-linux,
         ${misc:Depends},
         ${python3:Depends}
Conflicts: network-manager
Description: Microsoft Azure Linux Agent
 The Microsoft Azure Linux Agent supports the provisioning and running of Linux
 VMs in the Microsoft Azure cloud. This package should be installed on Linux
 disk images that are built to run in the Microsoft Azure environment.
